:root {
    color-scheme: light dark;
}

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    color: #1f2023;
    background: none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #dadada;
    }
}

.ui-lr {
    display: flex;
    justify-content: space-between;
    .left, .right {
        display: flex;
    }
}

.ui-clickable {
    // cursor: pointer;
    user-select: none;
}

.ui-hover {
    &:hover {
        text-decoration: underline;
        opacity: 1;
    }
}

.no-pointer {
    pointer-events: none;
}


:root {
    --highlight-color: rgb(37, 97, 221);
    --popup-bg: #222;
    --highlight-text: #fff;
    --searchbox-bg: rgba(0, 0, 0, 0.1);
    --searchbox-text: #dadada;
    --input-border: rgba(255, 255, 255, 0.2);
    --input-border-light: rgba(255, 255, 255, 0.1);
    --input-border-dark: rgba(255, 255, 255, 0.3);
    --box-bg: rgba(0, 0, 0, 0.2);
    --modal-overlay: rgba(0, 0, 0, 0.9);
    --modal-bg: #111;
}

@media (prefers-color-scheme: light) {
    :root {
        --highlight-color: rgb(8, 127, 255);
        --popup-bg: #f0f0f0;
        --highlight-text: #000;
        --searchbox-bg: rgba(0, 0, 0, 0.05);
        --searchbox-text: #222;
        --input-border: rgba(0, 0, 0, 0.1);
        --input-border-light: rgba(0, 0, 0, 0.05);
        --input-border-dark: rgba(0, 0, 0, 0.03);
        --box-bg: rgba(0, 0, 0, 0.05);
        --modal-overlay: rgba(0, 0, 0, 0.5);
        --modal-bg: #f0f0f0;
    }
}